<body>
  <header class="header">
    <div class="header-content">
      <img src="imgs/vier.svg" alt="Logo" class="logo" />
      <!-- <button id="theme-toggle" class="button theme-toggle">
        <i class="lucide-moon"></i>
        <span class="label">Toggle Theme</span>
      </button> -->
    </div>
    <div class="marquee-container hidden">
      <div class="marquee">
        <span>"When</span>
        <span>done</span>
        <span>well,</span>
        <span>software</span>
        <span>is</span>
        <span>invisible.</span>
        <span>- Bjarne</span>
        <span>Stroustrup</span>
      </div>
    </div>
  </header>
  <div class="nb-tabs">
    <button
      (click)="currentTab.set('me')"
      [ngClass]="{
        'nb-tab-active': currentTab() === 'me'
      }"
      class="nb-tab"
      data-tab="tab-me"
    >
      me
    </button>
    <button
      (click)="currentTab.set('projects')"
      [ngClass]="{
        'nb-tab-active': currentTab() === 'projects'
      }"
      class="nb-tab"
      data-tab="tab-projects"
    >
      projects
    </button>
    <button
      (click)="currentTab.set('skills')"
      [ngClass]="{
        'nb-tab-active': currentTab() === 'skills'
      }"
      class="nb-tab"
      data-tab="tab-skills"
    >
      skills
    </button>
  </div>

  <div *ngIf="currentTab()=== 'me'" id="tab-me" class="nb-tab-content">
    <app-me-tab></app-me-tab>
  </div>

  <div
    *ngIf="currentTab() === 'projects'"
    id="tab-projects"
    class="nb-tab-content"
  >
    <app-projects-tab></app-projects-tab>
  </div>

  <div *ngIf="currentTab()=== 'skills'" id="tab-skills" class="nb-tab-content">
    <app-skills-tab></app-skills-tab>
  </div>
</body>

<router-outlet />
