    <div class="card">
      <div class="card-header">
        <div class="avatar">
          <img src="imgs/pfp.webp" alt="Profile picture" />
        </div>

        <h1 class="card-title">
          <i class="lucide-terminal"></i> Hi!&nbsp;
          <span class="label">I'm Olivier Paspuel</span>
        </h1>

        <div class="card-description">
          <p class="opacity-50 italic">Based in Quito, Ecuador.</p>

          <div class="social-container">
            <a href="https://github.com/vieerr" target="_blank" class="button">
              <i class="devicon-github-original"></i>
              <span class="label">Github</span>
            </a>
            <a
              href="https://www.linkedin.com/in/olivier-paspuel-18909b244/"
              target="_blank"
              class="button"
            >
              <i class="devicon-linkedin-plain"></i>
              <span class="label">LinkedIn</span>
            </a>
          </div>
        </div>
      </div>

      <div class="card-content">
        <p>
          I love to
          <span class="label"
            >learn new concepts, solve problems and build things</span
          >. I'm passionate about web technologies and I'm always looking for
          new challenges. I'm currently studying software engineering at
          <a href="https://www.espe.edu.ec/" target="_blank">
            <span class="label cursor-pointer"
              >Universidad de las Fuerzas Armadas ESPE.</span
            >
          </a>
        </p>

        <!-- Extra Info -->
        <div class="extra-info">
          <!-- Education -->
          <app-accordion-item title="Education & certifications">
            <a href="https://www.espe.edu.ec/" target="_blank">
              <div class="alert">
                <img src="imgs/espe.png" alt="ESPE logo" />
                <div>
                  <div class="alert-title">
                    Software Engineering (currently studying)
                  </div>
                  <div>Universidad de las Fuerzas Armadas ESPE</div>
                </div>
              </div>
            </a>

            <a
              href="https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/9afa41cb41e70b7d7f8ed8a45c03a043"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/helsinki.png" alt="Helsinki University logo" />
                <div>
                  <div class="alert-title">Fullstack Open Bootcamp</div>
                  <div>University of Helsinki</div>
                </div>
              </div>
            </a>

            <a
              href="https://certificates.cs50.io/3f44e2d8-a347-4e0a-85ff-9635553ead5b.pdf?size=letter"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/harvard.png" alt="Harvard logo" />
                <div>
                  <div class="alert-title">CS50</div>
                  <div>Harvard University</div>
                </div>
              </div>
            </a>

            <a
              href="https://studies.cs.helsinki.fi/stats/api/certificate/fs-cicd/en/8495219f6189d39ab7991121fce5a3f4"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/helsinki.png" alt="Helsinki University logo" />
                <div>
                  <div class="alert-title">CI/CD Fullstack Open Course</div>
                  <div>University of Helsinki</div>
                </div>
              </div>
            </a>

            <a
              href="https://studies.cs.helsinki.fi/stats/api/certificate/fs-graphql/en/6f1b3cd1cb5726b68bbf3f00958f55df"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/helsinki.png" alt="Helsinki University logo" />
                <div>
                  <div class="alert-title">GraphQL Fullstack Open Course</div>
                  <div>University of Helsinki</div>
                </div>
              </div>
            </a>

            <a
              href="https://studies.cs.helsinki.fi/stats/api/certificate/fs-typescript/en/2e277f738163a8253c550efdf1bb71df"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/helsinki.png" alt="Helsinki University logo" />
                <div>
                  <div class="alert-title">
                    Typescript Fullstack Open Course
                  </div>
                  <div>University of Helsinki</div>
                </div>
              </div>
            </a>

            <a
              href="https://www.udemy.com/certificate/UC-6fe3749b-81ae-4552-92fc-261074937978/"
              target="_blank"
            >
              <div class="alert">
                <img src="imgs/udemy.png" alt="Udemy logo" />
                <div>
                  <div class="alert-title">
                    Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap
                  </div>
                  <div>Udemy</div>
                </div>
              </div>
            </a>
          </app-accordion-item>

          <!-- Languages -->
          <app-accordion-item title="Languages">
            <a href="https://www.efset.org/cert/R2akHM" target="_blank">
              <div class="alert">
                <div>
                  <div class="alert-title">English</div>
                  <div>EF SET English Certificate (C2 Proficient)</div>
                </div>
              </div>
            </a>

            <div class="alert">
              <div>
                <div class="alert-title">Spanish</div>
                <div>Native</div>
              </div>
            </div>
          </app-accordion-item>

          <!-- MBTI -->
          <app-accordion-item title="MBTI">
            <div class="flex-row">
              <p>I'm an INTP ᕙ⁠(⁠⇀⁠‸⁠↼⁠‶⁠)⁠ᕗ</p>
              <a
                href="https://www.16personalities.com/intp-personality"
                target="_blank"
              >
                <img src="imgs/intp.png" alt="INTP image" width="300" />
              </a>
            </div>
          </app-accordion-item>

          <!-- Operating System -->
          <app-accordion-item title="Operating System">
            <div class="flex-row">
              <p>
                I used to develop on Ubuntu but I changed to
                <strong> Fedora</strong>. I chose the I3 spin because I liked
                the idea of a minimal system with no desktop environment and
                since then I've been in love with it.
              </p>
              <img
                src="imgs/os.png"
                alt="My system info (neofetch)"
                width="400"
              />
            </div>
          </app-accordion-item>
        </div>
      </div>
    </div>